<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headSito"></head>
<body class="bg-info-subtle">
    <div th:replace="fragments/header :: headerSito"></div>
    <div class="container-fluid mt-5">
        <h1 class="mb-4 text-center">Lista degli Operatori</h1>

        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Disponibilità</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="utente : ${utenti}">
                    <td th:text="${utente.id}"></td>
                    <td th:text="${utente.username}"></td>
                    <td th:text="${utente.email}"></td>
                    <td>
                        <span class="badge bg-success" th:if="${utente.disponibile}">Disponibile</span>
                        <span class="badge bg-danger" th:if="${!utente.disponibile}">Non disponibile</span>
                    </td>
                    <td>
                        <a th:href="@{/user/{id}(id=${utente.id})}"
                                                        class="btn btn-sm btn-success text-black"
                                                        sec:authorize="hasAuthority('USER')"
                                                        th:if="${utente.id == loggedUser.id}">Il mio Dettaglio</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>